html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Merriweather', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.guanyu {
  background-color: #6AEAF6;
}

.text2 {
  margin: 0.3em;
  text-align: center;
  font-size: 2em;
  color: #3BD7B9;
}

.text_4 {
  font-size: 1.3em;
  color: #5FB0FF;
  margin-bottom: 0.8em;
  padding-left: 15px;
}

.text_5 {
  font-size: 1.3em;
  color: #366AE2;
  margin-bottom: 0.8em;
  padding-left: 15px;
}

.text_6 {
  font-size: 1.3em;
  color: #9B62CA;
  padding-left: 15px;
}
