html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;';
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #E6E7E8;
}

.logo {
  width: 30px;
  position: relative;
  right: -140px;

}


h1 {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

nav ol {
  padding: 0;
  background-color: lightgrey;
  overflow: hidden;
  text-align: center;
}

nav li {
  display: inline;
  color: blue;
  font-size: 1em;

}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.3em 0.5em;

}

.p1 {
  text-align: center;
  padding: 0.75em;
}

h2 {
  font-size: 0.95em;
  font-weight: bold;
  padding-left: 15px;
}

.box-1 {
  padding: 15px;
  background-color: #E6E7E8;
  margin: 10px;
}

.box-2 {
  padding: 15px;
  background-color: #E6E7E8;
  margin: 10px;
}

.box-3 {
  padding: 15px;
  background-color: #E6E7E8;
  margin: 10px;
}




h3 {
  margin: 0;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

dl {
  margin: 0;
}

dt {
  float: left;
  clear: left;
  margin-right: 5px;
}

dd {
  margin-left: 0px;
}

.f1 {
  padding: 10px 0px 0px 10px;
  font-size: 0.7em;
}

.f2 {
  padding: 0px 0em 10px 10px;
  font-size: 0.7em;
}

.address {
  padding: 10px 0px 10px 10px;
  width: 30%;
  font-size: 0.7em;
}

.time {
  padding: 10px 0px 10px 10px;
  font-size: 0.7em;
  width: 45%;
}

.social {
  width: 10%;

}


footer {
  background-color:#D1D2D4;
}
